{% extends 'base.html' %}

{% block title %}Debug {{ dbf_name }}{% endblock %}

{% block content %}
    <h1 class="mb-4">Últimos 10 Registros de {{ dbf_name }}</h1>

    {% if records %}
        <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover">
                <thead class="thead-dark">
                    <tr>
                        {% for key in records[0].keys() %}
                            <th>{{ key }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for record in records %}
                        <tr>
                            {% for key, value in record.items() %}
                                <td>{{ value }}</td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        <p>No se encontraron registros en {{ dbf_name }}.</p>
    {% endif %}
{% endblock %}