h1, h2 { color: #333; }
table { width: 100%; border-collapse: collapse; margin-top: 20px; font-size: 14px; }
th, td { border: 1px solid #ddd; padding: 8px; text-align: left; }
th { background-color: #f2f2f2; }

.importe-col {
    width: 150px;
    text-align: right;
}

.km-col {
    width: 90px;
    text-align: right;
}

tfoot { font-weight: bold; background-color: #f2f2f2; }
.form-container form {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    gap: 20px;
    margin-bottom: 20px;
}
.filter-group {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.filter-group-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}
.form-control {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.btn {
    padding: 8px 12px; 
    color: white; 
    text-decoration: none; 
    border-radius: 4px; 
    font-size: 14px;
    border: none;
    cursor: pointer;
    white-space: nowrap;
}
.btn-primary { background-color: #337ab7; }
.btn-warning { background-color: #f0ad4e; }
.btn-success { background-color: #5cb85c; }
.btn-info { background-color: #5bc0de; }
.btn-danger { background-color: #d9534f; }
.btn-secondary { background-color: #6c757d; }
.km-input {
    width: 100%;
    border: none;
    background-color: transparent;
    text-align: left;
    padding: 0;
}
.modal-header {
    background-color: #539ee9;
    border-bottom: 1px solid #dee2e6;
}

/* Styles for Summary Table */
.summary-container {
    background-color: #fcfcfc;
    border: 1px solid #dee2e6;
    border-radius: .25rem;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, .075);
}

.summary-container h2 {
    margin-top: 0;
    border-bottom: 2px solid #eee;
    padding-bottom: 10px;
    margin-bottom: 15px;
    font-size: 1.75rem;
}

.summary-table th {
    width: 35%;
    background-color: #f8f9fa;
}